#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    // automouse-layer = <1>;

    scroll-layers = <2>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        left_shift_and_ctrl {
            bindings = <&kp LS(LEFT_CONTROL)>;
            key-positions = <13 12>;
        };

        right_shift_and_ctrl {
            bindings = <&kp RS(RIGHT_CONTROL)>;
            key-positions = <18 19>;
        };

        left_command {
            bindings = <&kp LEFT_COMMAND>;
            key-positions = <13 25>;
        };

        right_command {
            bindings = <&kp RIGHT_COMMAND>;
            key-positions = <30 18>;
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        DEFAULT {
            bindings = <
&kp Q         &kp W             &kp E     &kp R      &kp T                                   &kp Y                     &kp U  &lt 2 I   &kp O     &kp P
&kp A         &kp S             &kp D     &kp F      &kp G      &kp LG(L)      &mo 3         &kp H                     &kp J  &kp K     &kp L     &kp ENTER
&kp Z         &kp X             &kp C     &kp V      &kp B      &trans         &kp LEFT_GUI  &kp N                     &kp M  &mkp MB1  &mkp MB2  &mkp MB3
&kp LEFT_ALT  &kp LEFT_CONTROL  &mkp MB1  &kp SPACE  &kp LANG2  &kp LANG1      &mo 1         &mt LEFT_SHIFT BACKSPACE                             &to 0
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
        };

        SYMBOLNUM {
            bindings = <
&kp NUMBER_1     &kp NUMBER_2   &kp NUMBER_3    &kp NUMBER_4    &kp NUMBER_5                                &kp NUMBER_6   &kp N7            &kp NUMBER_8       &kp N9                &kp N0
&kp EXCLAMATION  &kp SEMICOLON  &kp APOSTROPHE  &kp MINUS       &kp EQUAL     &trans             &trans     &kp AMPERSAND  &kp COMMA         &kp PERIOD         &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&kp SPACE        &kp HASH       &kp AT_SIGN     &kp STAR        &kp DOLLAR    &kp BACKSLASH      &kp CARET  &kp PERCENT    &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp GRAVE             &kp SLASH
&trans           &trans         &trans          &kp LEFT_SHIFT  &trans        &trans             &trans     &trans                                                                    &to 0
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
        };

        SCROLL {
            bindings = <
&kp ESCAPE  &trans                 &kp UP_ARROW    &trans          &trans                          &trans     &mkp MB4                &trans             &mkp MB5  &trans
&kp TAB     &mt LEFT_COMMAND LEFT  &kp DOWN_ARROW  &kp RIGHT       &trans  &trans      &trans      &trans     &kp LS(LG(LEFT_ARROW))  &kp LS(LG(RIGHT))  &trans    &trans
&trans      &trans                 &trans          &trans          &trans  &trans      &trans      &kp ENTER  &trans                  &trans             &trans    &trans
&bt BT_CLR  &trans                 &trans          &kp LEFT_SHIFT  &trans  &trans      &kp ESCAPE  &kp SPACE                                                       &to 0
            >;
        };

        MODE {
            bindings = <
&to 6   &trans  &trans  &trans  &to 5                                   &kp C_VOLUME_UP    &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &trans        &kp C_VOLUME_DOWN  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &trans        &trans             &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &bt BT_SEL 0      &bt BT_SEL 2  &bt BT_SEL 1                               &to 0
            >;
        };

        ZZZ {
            bindings = <
&kp ESCAPE    &kp W             &none    &kp R   &kp T                       &mkp MB3   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4
&kp A         &kp S             &kp D    &kp F   &kp G   &trans      &trans  &kp H      &mkp MB1      &kp E         &mkp MB2      &kp Q
&kp F1        &kp F2            &kp F3   &kp F4  &kp F5  &kp F6      &trans  &none      &kp M         &kp N         &kp C         &kp L
&kp LEFT_ALT  &kp LEFT_CONTROL  &kp TAB  &kp F   &none   &none       &none   &kp SPACE                                            &to 0
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
        };

        SHADOWVERSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                            &trans  &trans    &trans     &trans      &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans        &trans  &mkp MB1  &kp SPACE  &kp ESCAPE  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &kp LEFT_WIN  &trans  &kp TAB   &trans     &trans      &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans        &trans                                   &to 0
            >;
        };

        FF14 {
            bindings = <
&kp Q    &kp W  &kp E      &kp R      &kp T                              &kp Y      &kp U  &kp I     &kp O     &kp P
&kp A    &kp S  &kp D      &kp F      &kp G      &trans          &trans  &kp H      &kp J  &kp K     &kp L     &kp SEMI
&kp Z    &kp X  &kp C      &kp V      &kp B      &kp ESCAPE      &trans  &kp N      &kp M  &mkp MB1  &mkp MB2  &mkp MB3
&kp TAB  &mo 2  &kp SPACE  &kp LSHFT  &kp LCTRL  &kp LALT        &trans  &kp ENTER                             &to 0
            >;
        };
    };
};
